h1,h2{
    color:purple; 
    font-size: 96px;
    margin-top: 10px;
    margin-bottom: 20px; 
}
p{
    text-align: center; 
    font-family: Helvetica;
}
img {
    height: 320px;
    /* width: 200px; */
}
em {
    text-transform: uppercase;
    font-style: initial;
}
#first {
    text-align: left; 
}
/* #second{
    text-align: right; 
} */
.right {
    text-align: right;
}
.tacos {
    color: seagreen; 
}
.big{
    font-size: 32px;
}
/* body {
    background-color: blue;
} */